@media (max-width: 1700px) {
  .bg__trees {
    background-size: cover;
  }
}

@media (max-width: 1056px){
  .menu_list{
    gap: 20px;
  }
}
@media (max-width: 1162px){
  .plan1 img{
    width: 80%;
  }
  
}
@media (max-width: 1024px) {
  .menu {
    display: none;
  }

  /* Бургер-меню */
  #burger {
    border: none;
    border-radius: 38px;
    padding: 12px 7px;
    border-radius: 40%;
    background-color: #dbdbdb;
    width: 38px;
    height: 38px;
  }

  #burger:hover {
    background: rgb(210, 103, 103);
    cursor: pointer;
  }
  .burger_menu {
    display: block;
  }

  .burger_slide {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(147, 147, 147);
    opacity: 0.9;
    width: 220px;
    height: 200px;
  }

  .disp {
    display: block;
    padding: 10px 10px;
    text-align: left;
    color: #ffffff;
    text-decoration: none;
  }

  .disp :hover {
    color: blue;
    text-decoration: underline;
  }

  .burger_menu.active .burger_slide {
    display: block;
  }
  /*---------------- Main */
  .plan1 img{
    width: 80%;
  }
}

@media (max-width: 989px) {

  .footer_center {
    padding-top: 20px;
  }

  .container__images {
    gap: 13px;
  }
}

@media (max-width: 770px) {
  .plan1 {
    justify-content: center;
    flex-wrap: wrap;
  }
  .plan1 img {
    height: auto;
  }
  .main__middle h4 {
    font-size: 20px;
    margin-top: 67px;
    margin-bottom: 44px;
  }
  .main__top h3 {
    font-size: 20px;
    margin-bottom: 34px;
    margin-top: 77px;
  }
  .bottom__list {
    justify-content: space-around;
  }
  .content_plan {
    margin-top: 47px;
    padding: 0;
  }
  .footer_center {
    gap: 80px;
  }
  .adress {
    width: 200px;
  }
  .main__bottom h4 {
    margin-top: 61px;
    margin-bottom: 47px;
  }
  .container__images {
    margin-bottom: 67px;
  }
  .main__middle h4 {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 35px;
  }
  .main__middle__plan1 {
    margin-bottom: 61px;
    margin-top: 62px;
  }
}

@media (max-width: 580px) {
  /* ----------------------------Header-menu */
  .mobile .tel a {
    border: none;
    padding: 0;
  }

  .mobile .text a {
    display: none;
  }
  .bottom__list img {
    max-width: 180px;
    height: auto;
  }
  .bottom__list p {
    padding-top: 33px;
    padding-bottom: 63px;
  }

  .footer_center {
    gap: 30px;
  }
}

@media (max-width: 520px) {
  .header_inner {
    padding: 0;
    background: none;
    box-shadow: none;
  }
  .container__images img {
    width: 166px;
    height: 102px;
  }
  .logo img {
    width: 200px;
  }

  .mobile .text a {
    display: none;
  }

  .main__top h3 {
    font-size: 14px;
  }
}

@media (max-width: 459px) {
  .container__images {
    justify-content: space-between;
    gap: 13px;
  }
}

@media (max-width: 450px) {
  /* ----------------------------Header-menu */

  .header_inner {
    margin-top: 28px;
  }

  .logo img {
    width: 159px;
  }
  .mobile {
    padding: 0;
  }
  .mobile .text a {
    display: none;
  }
  .mobile .tel a {
    font-size: 14px;
  }

  .main__bottom h4 {
    font-size: 20px;
  }
  .plan2{
    margin-bottom: 52px;
  }
  .main__bottom h4 {
    margin-top: 43px;
    margin-bottom: 47px;
  }
  .content_plan h5,
  .text__plan li {
    font-size: 16px;
  }
  .content_plan{
    margin-bottom: 43px;
  }
  .text__plan li {
    list-style-position: inside;
    font-size: 17px;
  }
  /* ----------------------------Footer */
  .footer {
    background-color: white;
  }

  .bottom {
    display: block;
    text-align: center;
  }

  .footer_center {
    background-color: #eaeaea;
    display: block;
    padding-top: 39px;
    padding-bottom: 53px;
  }
  .footer_list li {
    font-size: 14px;
  }

  .adress {
    width: 185px;
    margin: 0 auto;
  }

  .adress li {
    font-size: 14px;
  }
}
@media (max-width: 364px) {
  .container__images {
    justify-content: center;
  }
}
@media (max-width: 350px) {
  .burger_slide {
    width: 130px;
    height: 135px;
  }
  .disp {
    padding: 5px 5px;
  }

  .header_inner {
    justify-content: center;
    gap: 5px;
  }
  .text__plan li {
    max-width: 328px;
  }
}
